<div class="col-md-4">
  <span class="tag tag-primary"> Positive</span>
    <div class="streaming-news-timeline">
      <div class="list-group list-news" slimScroll [options]="options">
        <div class="">
          <div *ngFor="let data of itemsPos"> 
            <span class="list-group-item">
              <div class="content-news">
                  <img src="{{data.image}}" alt="{{data.media_displayName}}" class="profile-picture" onerror="this.style.display='none'">
                      <strong>{{data.screen_name}}</strong>
                          <span class=" text-muted"> {{data.screen_name}}</span>  
                           <a target="_blank" class="text-muted post-date">{{data.timestamp }}</a>
                        <p>
                        {{data.desc}}  
                        </p>
                         <span>{{data.text}}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-md-4">
  <span class="tag tag-default"> Neutral</span>
    <div class="streaming-news-timeline">
      <div class="list-group list-news" slimScroll [options]="options">
        <div class="">
          <div *ngFor="let data of itemsNeu"> 
            <span class="list-group-item">
              <div class="content-news">
                  <img src="{{data.image}}" alt="{{data.media_displayName}}" class="profile-picture" onerror="this.style.display='none'">
                      <strong>{{data.screen_name}}</strong>
                          <span class=" text-muted"> {{data.screen_name}}</span>  
                           <a target="_blank" class="text-muted post-date">{{data.timestamp }}</a>
                        <p>
                        {{data.desc}}  
                        </p>
                         <span>{{data.text}}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-md-4">
  <span class="tag tag-danger"> Negative</span>
    <div class="streaming-news-timeline">
      <div class="list-group list-news" slimScroll [options]="options">
        <div class="">
          <div *ngFor="let data of itemsNeg"> 
            <span class="list-group-item">
              <div class="content-news">
                  <img src="{{data.image}}" alt="{{data.media_displayName}}" class="profile-picture" onerror="this.style.display='none'">
                      <strong>{{data.screen_name}}</strong>
                          <span class=" text-muted"> {{data.screen_name}}</span>  
                           <a target="_blank" class="text-muted post-date">{{data.timestamp }}</a>
                        <p>
                        {{data.desc}}  
                        </p>
                         <span>{{data.text}}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>