.streaming-news-timeline{
    height: 305px;
    display: block;
}
/** latest tnewsweet */
.list-news{
    padding-right: 10px;
    background: white;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}
.list-news:after{
    display: block;
    content: "";
    clear: both;
}
.list-news .list-group-item{
    padding: 10px 0;
    background: transparent;
    border-left: none;
    border-right: none;
    border-color: #ddd;
    font-size: 13px;
    cursor: pointer;
}
.list-news .list-group-item h4 {
    font-size: 15px;
    margin: 0 0 5px;
}
.list-news > span:first-of-type{
    border-top: none;
}
.list-news > span:last-of-type{
    border-bottom: none;
}
.list-news .list-group-item .content-news{
    cursor: pointer;
    padding-left: 20px;
}
.list-news .list-group-item .content-news:hover{
    background-color: #e4e5e6;
}
.list-news .list-group-item .content-news .profile-picture,
.list-twnewseets .list-group-item .content-news .profile-picture-default{
    width: 48px;
    height: 48px;
}
.list-news .list-group-item .content-news > a{
    color: black;
}
.list-news .list-group-item .content-news > a:hover{
    text-decoration: none;
}
.list-news .list-group-item .content-news > a:hover > strong{
    text-decoration: underline;
}
.list-news .list-group-item .content-news > a > img{
    float: left;
    margin-left: -58px;
    border-radius: 5px;
}
.list-news .list-group-item .content-news > p{
    margin-bottom: 5px;
    color: #000;
}
.list-news .list-group-item .content-news [class^=news-image]:before,
.list-news .list-group-item .content-news [class^=news-image]:after{
    content: " ";
    clear: both;
}
.list-news .list-group-item .content-news .post-date{
    white-space: nowrap;
    font-size: .9em;
}
.list-news .list-group-item .content-news .source .media .fa{
    font-size: 1.2em;
    cursor: default;
}
.list-news .list-group-item .content-news .source{
    font-size: 0.9em;
    margin: 5px 0 0;
    color: #666;
}
.list-news .list-group-item .content-news .text-muted{
    color: #666;
}
